*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
}

:root {
  --primary-blue-hsl: 223 87% 63%;
  --secondary-blue-hsl: 223 100% 88%;
  --neutral-gray-hsl: 0 0% 59%;
  --secondary-red-hsl: 354 100% 66%;
  --primary-blue: hsl(223, 87%, 63%);
  --secondary-blue: hsl(223, 100%, 88%);
  --secondary-red: hsl(354, 100%, 66%);
  --neutral-gray: hsl(0, 0%, 59%);
  --neutral-blue: hsl(209, 33%, 12%);
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-inline: auto;
  padding-block: 84.5px 37.05px;
  width: calc(100vw - 48px);
  max-width: 480px;
}

header > img {
  width: 54px;
}

main {
  margin-top: 35px;
}

main > h1 {
  font-weight: 300;
  color: var(--neutral-gray);
  font-size: 22px;
}

main span {
  font-weight: 700;
  color: var(--neutral-blue);
}

main > p {
  margin-top: 18px;
  color: var(--neutral-blue);
  font-size: 12px;
}

form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-inline: 24px 22px;
  height: 140px;
}

#label-email {
  position: relative;
}

#label-email.invalid > #email {
  border: 1px solid var(--secondary-red);
}

#label-email.invalid::after {
  content: "Please provide a valid email address";
  position: absolute;
  bottom: -18px;
  width: 100%;
  left: 0;
  font-size: 10px;
  color: var(--secondary-red);
  letter-spacing: 0.15px;
  font-style: italic;
}

#label-email.invalid.empty::after {
  content: "Whoops! It looks like you forgot to add your email";
}

#label-email.invalid ~ button {
  margin-top: 32px;
}

#email,
form > button {
  border-radius: 35px;
}

form > button:hover {
  background-color: hsla(var(--primary-blue-hsl) / 0.8);
  cursor: pointer;
}

#email {
  height: 40px;
  width: 100%;
  padding-inline: 31px;
  border: 1px solid var(--secondary-blue);
  font-size: 12px;
  font-weight: 300;
}

#email::placeholder {
  color: var(--neutral-gray);
  font-size: 12px;
}

form > button {
  border: none;
  font-size: 12px;
  color: white;
  height: 40px;
  font-weight: 400;
  background-color: var(--primary-blue);
  box-shadow: 0px 5px 10px var(--secondary-blue);
}

main > img {
  margin-top: 18px;
  width: 100%;
  padding-inline: 4px 2px;
}

.ping-footer {
  margin-top: 116px;
}

.icons {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

.icons > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;
  border-radius: 50%;
  border: 1px solid hsla(var(--secondary-blue-hsl) / 0.5);
}

.icons > a:hover {
  background-color: var(--primary-blue);
  border: none;
  cursor: pointer;
}

.icons > a:hover > svg {
  fill: white;
}

.icons > a > svg {
  fill: var(--primary-blue);
  height: 13.5px;
}

.icons > a:last-child > svg {
  height: 17px;
}

.copyright {
  margin-top: 27px;
  font-size: 10px;
  font-weight: 300;
  color: var(--neutral-gray);
}

.attribution {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  margin-inline: auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: var(--primary-blue);
  font-weight: 600;
  text-decoration: none;
}

.attribution a:hover {
  text-decoration: underline;
}

#successDialog {
  padding-top: 36px;
  width: 80%;
  max-width: 320px;
  border-radius: 20px;
  border: none;
  background-color: white;
  box-shadow: 0px 10px 30px 5px hsla(var(--secondary-blue-hsl) / 0.6);
  margin-inline: auto;
  height: 400px;
  position: fixed;
  top: calc(50vh - 200px);
}

#successDialog svg {
  width: 40px;
  height: 40px;
  fill: var(--primary-blue);
}

#successDialog > h1 {
  font-weight: 300;
  margin-top: 12px;
  color: var(--neutral-blue);
  font-size: 32px;
}

#successDialog > h1 > span {
  display: block;
  font-size: 20px;
  letter-spacing: 0.8px;
  font-weight: 700;
}

#successDialog > p {
  margin-top: 24px;
  font-size: 14px;
  padding-inline: 36px;
  line-height: 22px;
}

#successDialog > p > span {
  font-weight: 600;
  letter-spacing: 0.75px;
}

#successDialog > button {
  background: var(--secondary-red);
  box-shadow: 0px 5px 10px -2px hsla(var(--neutral-gray-hsl) / 0.5);
  margin-top: 24px;
  font-size: 18px;
  height: max-content;
  border: none;
  color: white;
  padding-inline: 15px;
  padding-block: 5px 4px;
  border-radius: 5px;
  line-height: 32px;
  cursor: pointer;
}

#successDialog > button:hover {
  background: hsla(var(--secondary-red-hsl) / 75%);
  box-shadow: 0px 5px 10px -2px hsla(var(--neutral-gray-hsl) / 0.7);
}

@media only screen and (min-width: 1024px) {
  body {
    padding-top: 86px;
    width: 640px;
    max-width: none;
    min-height: 100vh;
  }

  header > img {
    width: unset;
  }

  main {
    margin-top: 44px;
  }

  main > h1 {
    font-size: 48px;
  }

  main > p {
    margin-top: 17px;
    font-size: 20px;
  }

  form {
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: unset;
    height: unset;
  }

  #label-email {
    flex: 0.67;
  }

  #label-email.invalid::after {
    text-align: left;
    padding-inline: 31px;
    bottom: -23px;
    font-size: 12px;
  }

  #label-email.invalid ~ button {
    margin: unset;
  }

  #email {
    height: 56px;
    font-size: 16px;
  }

  #email::placeholder {
    font-size: 16px;
  }

  form > button {
    flex: 0.32;
    height: unset;
    font-size: 16px;
    font-weight: 600;
  }

  main > img {
    margin-top: 86px;
    padding-inline: unset;
  }

  .ping-footer {
    margin-top: 68px;
  }

  .icons {
    gap: 12px;
  }

  .icons > a > svg {
    height: 13.5px;
  }

  .icons > a:last-child > svg {
    height: 17px;
  }

  .copyright {
    margin-top: 25px;
    font-size: 12px;
  }

  .attribution {
    bottom: 15px;
    left: 0;
    width: 100%;
    margin-inline: auto;
    font-size: 11px;
    text-align: center;
  }

  #successDialog {
    width: 500px;
    max-width: unset;
  }

  #successDialog > h1 {
    font-size: 48px;
  }

  #successDialog > h1 > span {
    font-size: 24px;
  }

  #successDialog > p {
    font-size: 16px;
  }

  #successDialog > button {
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
  }
}
